# gitignore file for Sharif Judge

.git
.idea
application/config/config.php
application/config/database.php

# Ignore Twig Cache Files
application/cache/Twig/*/

# Ignore Compiled EasySandbox Files
tester/easysandbox/EasySandbox.o
tester/easysandbox/EasySandbox.so
tester/easysandbox/malloc.o
tester/easysandbox/t/*
!tester/easysandbox/t/*.c*

# Ignore MOSS File
tester/moss

# Ignore Statis Analysis cache files
tester/static_analysis/__pycache__

#Ignore assignments templates files
assignments/assignment*


